    *,
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* overflow-x: hidden; */
    }
    
    @media screen and (max-width: 1024px) {
        html {
            font-size: 42.66px !important;
        }
    }
    
    @media screen and (min-width: 1920px) {
        html {
            font-size: 80px !important;
        }
    }
    
    body {
        background-image: url('../image/1.jpeg');
    }
    
    .header {
        height: 1.625rem;
        /* width: 100%; */
        /* display: flex;
    justify-content: center;
    align-items: center; */
        font-style: italic;
        font-size: .25rem;
        margin-bottom: .125rem;
        background-position: center;
    }
    
    .footer {
        font-size: .15rem;
        margin-top: .125rem;
        /* color: #e3d0cm; */
    }
    
    .footer,
    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
    }
    
    .container {
        width: 100%;
        min-width: 12.8rem;
        max-width: 24rem;
        /* display: flex; */
    }
    
    .row-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: .125rem;
        width: 100%;
        overflow: hidden;
    }
    
    .rose {
        height: 6.25rem;
        width: 6.25rem;
    }
    
    a {
        padding: .01rem;
        font-size: .04rem;
        margin: -0.0375rem 0 0 0.2625rem;
        border-radius: 0.0375rem;
        color: #0bace6;
    }
    
    .caption {
        margin-top: .125rem;
        display: flex;
        line-height: 1;
    }
    
    a.active {
        background-color: #efa18d;
        color: #fff;
    }
    
    .col {
        box-shadow: .025rem .025rem .025rem .0125rem rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.4);
        padding: .125rem;
    }
    
    .geo {
        width: 10.7rem;
        height: 6.25rem
    }
    
    .line {
        /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1); */
        /* background-color: rgba(255, 255, 255, 0.4); */
        width: 6.25rem;
        height: 3.125rem;
    }
    
    .redar {
        margin-top: .125rem;
        width: 6.25rem;
        height: 3.125rem;
    }
    /* .line-radar,
    .rosechart {
        flex: 2;
        overflow: hidden;
    }
    
    .geo-wrap {
        flex: 3;
        overflow: hidden;
    }
     */
    
    .scatter {
        height: 5rem;
        width: 10.625rem;
    }
    
    .pie-scatter {
        display: flex;
        /* flex: 1; */
        overflow: hidden;
        width: 67.5%;
        /* height: 350px;
    width: 650px; */
    }
    
    .pie {
        height: 5rem;
        width: 5rem;
        top: .325rem;
    }
    
    .scatter-histogram {
        height: 4.375rem;
        width: 6.875rem;
    }
    
    .sunburst {
        top: .375rem;
        height: 5.5rem;
        width: 6.5rem;
    }
    
    .bar {
        height: 5rem;
        width: 7.5rem;
    }
    
    .table {
        height: 6rem;
        width: 8.5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .table #boy-table {
        display: block;
        height: 100%;
        width: 100%;
    }
    
    .table #girl-table {
        display: none;
        /* height: 100%; */
        width: 100%;
    }